:root {
    --darkGray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --verydarkgray: hsl(0, 0%, 27%);
}





html {
    box-sizing: border-box;
}

 *, *:before, *:after {
    box-sizing: inherit;
 }

 * {
    margin: 0;
    padding: 0;
 }
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white);
    font-size: 0.6em;
    
}
 body {
     font-size: 1.4em;
     font-family: 'Spartan', sans-serif;
 }


 header .nav1 {
     display: flex;
     justify-content: flex-start;
     padding: 1.5em 4em;
 }
 .nav1 h1 {
     font-size: 1em;
     padding-right: 2em;
     color: var(--white);
 }
.nav-list li {
    display: inline-block;
    padding-right: 2em;
}
.main-content {
    display: flex;
    justify-content: space-between;
    padding-right: 3em;
}
.content-img {
 position: relative;
 top: -4.2em;
 z-index: -10;
}
.content-img img {
    height: auto;
    width: 35em;
}
.innovation {
    padding: 2em 3em;
}

.innovation p:nth-of-type(1) {
    color: var(--darkGray);
    font-size: 0.5em;
    padding-top: 2em;
    line-height: 1.5;
}
.innovation p:nth-of-type(2) {
    padding-top: 2em;
    text-transform: uppercase;
    letter-spacing: 8px;
color: var(--verydarkgray);
    font-weight: 700;
    font-size: 0.5em;
    cursor: pointer;
}
.innovation p:nth-of-type(2):hover {
    color: var(--darkGray);
}
.innovation p:nth-of-type(3) {
    position: relative;
    left: -3em;
    top: 3.55em;
    z-index: 1;
}

.innovation p:nth-of-type(3) .left-arrow,
.innovation p:nth-of-type(3) .right-arrow {
    padding: 0.8em 1.2em;
    background-color: hsl(0, 0%, 0%);
    margin-left: 0;
    cursor: pointer;
}
.innovation p:nth-of-type(3) .left-arrow:hover,
.innovation p:nth-of-type(3) .right-arrow:hover {
background-color: hsl(0, 0%, 27%);
}

.sub-content {
display: flex;
position: relative;
top: -4.5em;

}
.about {
    padding: 2em 2.5em;
}
.about h3{
padding-top: 1em;
text-transform: uppercase;
font-size: 0.5em;
letter-spacing: 8px;
font-weight: 700;

}
.about p {
    font-size: 0.5em;
    padding-top: 1em;
    line-height: 1.5;
    color: var(--darkGray);
}

@media(max-width: 576px) {
    .main-content {
        flex-direction: column;
        padding-right: 0;
    }
    .sub-content {
        flex-direction: column;
        padding-bottom: 20em;
    }
    .content-img {
        top: -9em;
    }
    .content-img img {
       width: 20em;
        height: auto;
    }
    .innovation {
        position: relative;
        top: -6em;
        padding: 0em 0em;
        padding-left: 2em;
    }
    .innovation h2 {
        text-align: left;
    }
    .innovation p:nth-of-type(3) {
        top: -21em;
        left: 9em;
    }
}
 